<kt-portlet>
    <kt-portlet-body>
      <div class="row">
        <div class="col-6">
        <h3 class='cool'> ธนาคาร </h3>
      </div>
      <div class="col-6">
        <button mat-flat-button color="primary" style="float: right;" (click)="openAddbank()"><span class="fa fa-plus"></span>สร้างใหม่</button>
      </div>
      </div>
      <br>
        <table style="width: 100%; text-align: center;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Status Column -->
          <ng-container matColumnDef="BANK_STATUS">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> สถานะ </th>
            <td mat-cell *matCellDef ="let databank" class="fontColor">
              <div *ngIf="databank.BANK_STATUS =='Y' else StatusBG">
              <span class="label label-inline" style="color: white; background-color: rgb(26, 179, 148);"> Start </span>
              </div>
              <ng-template #StatusBG>
              <span class="label label-inline" style="color: white; background-color: rgb(237, 85, 101);"> Stop </span>
              </ng-template>
            </td>
          </ng-container>
        <!-- Start Column -->
          <ng-container matColumnDef="Start">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> Start </th>
            <td mat-cell *matCellDef ="let databank; let i= index;" class="fontColor"> 
              <button class="btn btn-success" (click)="onStart(i)" [disabled]="databank.BANK_STATUS =='Y' ">
                <span class="fa fa-play-circle" ></span></button></td>
          </ng-container>
        <!-- Stop Column -->
          <ng-container matColumnDef="Stop">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> Stop </th>
            <td mat-cell *matCellDef ="let databank; let i= index;" class="fontColor"> 
              <button class="btn btn-danger" (click)="onStop(i)" [disabled]="databank.BANK_STATUS =='N' ">
              <span class="fa fa-stop-circle" ></span></button></td>
          </ng-container>
        <!-- ReStart Column -->
          <!-- <ng-container matColumnDef="ReStart">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ReStart </th>
            <td mat-cell *matCellDef ="let databank" class="fontColor"> <button class="btn btn-info" (click)="aleartNote()"><span class="fa fa-redo" ></span></button></td>
          </ng-container> -->
        <!-- Bank Column -->
          <ng-container matColumnDef="BANK_TITLE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> Bank </th>
            <td mat-cell *matCellDef="let databank"> 
              <img src="assets/media/img/{{databank.BANK_TITLE}}.png" width="20px"></td>
          </ng-container>
        <!-- Account Number Column -->
          <ng-container matColumnDef="BANK_ACCOUNT_NUMBER">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> AccountNumber </th>
            <td mat-cell *matCellDef="let databank" class="fontColor"> {{databank.BANK_ACCOUNT_NUMBER}} </td>
          </ng-container>
        <!-- Account Name Column -->
          <ng-container matColumnDef="BANK_ACCOUNT_NAME">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> AccountName </th>
            <td mat-cell *matCellDef="let databank" class="fontColor"> {{databank.BANK_ACCOUNT_NAME}} </td>
          </ng-container>  
        <!-- Type Column -->
          <ng-container matColumnDef="BANK_TYPE">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> Type </th>
            <td mat-cell *matCellDef ="let databank" class="fontColor">
                <div *ngIf="databank.BANK_TYPE =='deposit' else TypeBG">
                  <span class="label label-inline" style="color: white; background-color: rgb(26, 179, 148);"> {{databank.BANK_TYPE}} </span>
                </div>
                <ng-template #TypeBG>
                  <span class="label label-inline" style="color: white; background-color:rgb(237, 85, 101);"> {{databank.BANK_TYPE}} </span>
                </ng-template>
            </td>
          </ng-container>
        <!-- ActiveStatus Column -->
          <!-- <ng-container matColumnDef="ActiveStatus">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> ActiveStatus </th>
            <td mat-cell *matCellDef ="let databank" class="fontColor">
              <div *ngIf="databank.ActiveStatus =='Active' else ActiveBG">
                <span class="label label-inline" style="color: white; background-color: rgb(26, 179, 148);"> {{databank.ActiveStatus}} </span>
              </div>
              <ng-template #ActiveBG>
                <span class="label label-inline" style="color: white; background-color: rgb(237, 85, 101);"> {{databank.ActiveStatus}} </span>
              </ng-template>
            </td>
          </ng-container> -->
        <!-- Edit Column -->
          <ng-container matColumnDef="Edit">
            <th mat-header-cell *matHeaderCellDef class="centerfont"> แก้ไข </th>
            <td mat-cell *matCellDef ="let databank; let i= index;"  class="fontColor"> <button class="btn btn-primary" (click)="openBankEditDialog(i)"><span class="fa fa-pencil-alt"></span></button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="DisplayBankdata" class="BgHead"></tr>
          <tr mat-row *matRowDef="let row; columns: DisplayBankdata;" class="BgRow"></tr>
        </table>
        <mat-paginator #paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        [showFirstLastButtons]="true">
        </mat-paginator>
      </kt-portlet-body>
    </kt-portlet>