<mat-dialog-content class="mat-typography">
<div class="modal-content bg-edit">
    <div class="modal-header">
        <h4 class="modal-title" style="color: black;">ข้อมูลธนาคาร</h4>
        <button mat-button mat-dialog-close >
            <span class="material-icons">
                close
                </span>
        </button>
    </div>
    <div class="modal-body">
        <section class="widget">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 main-header">
                    <form class="form-horizontal form-label-left ">
                        <fieldset>
                            <section>
                                <div class="row form-group">
                                    <label class="col-form-label col-md-2">ชื่อธนาคาร</label>
                                    <div class="col col-4">
                                            <input class="form-control" name="banktitle" type="text" [(ngModel)]="bankdata.BANK_TITLE">
                                    </div>
                                    <!-- <label class="col-form-label col-md-2">ประเภทบัญชี</label>
                                     <div class="col col-4">
                                        <select class="form-control" class="form-control" [(ngModel)]="bankdata.BANK_TYPE">
                                            <option *ngFor="let typedata of banktype" value="bankdata.BANK_TYPE">{{typedata}}</option>
                                        </select>
                                    </div>  -->
                                
                                        <label class="col-form-label col-2">ประเภทบัญชี</label>
                                        <div class="col-4">
                                        <select  name="type"  class="form-control"  [(ngModel)]="bankdata.BANK_TYPE">
                                            <option *ngFor="let typedata of banktype" value="{{typedata.value}}">{{typedata.name}}</option>
                                        </select>
                                      </div>
                                     
                                </div>

                            </section>

                            <section>
                                <div class="row form-group">
                                    <label class="col-form-label col-md-2">ชื่อบัญชี</label>
                                    <div class="col col-4">
                                        <input class="form-control" name="accountName" type="text" [(ngModel)]="bankdata.BANK_ACCOUNT_NAME">

                                    </div>
                                    <label class="col-form-label col-md-2">หมายเลขบัญชี</label>
                                    <div class="col col-4">
                                        <input class="form-control " name="accountNumber" type="text" [(ngModel)]="bankdata.BANK_ACCOUNT_NUMBER">
                                    </div>
                                </div>
                            </section>

                            <!-- <section>
                                <div class="row form-group">
                                    <label class="col-form-label col-md-2">ชื่อเข้าระบบ</label>
                                    <div class="col col-4">
                                        <input class="form-control " name="user" type="text" >
                                    </div>
                                    <label class="col-form-label col-md-2">รหัสผ่าน</label>
                                    <div class="col col-4">
                                        <input class="form-control " name="password" type="text">
                                    </div>
                                </div>
                            </section>

                            <section>
                                <div class="row form-group">
                                    <label class="col-form-label col-md-2">ลำดับบัญชี</label>
                                    <div class="col col-4">
                                        <input class="form-control " name="no" type="text">
                                    </div>
                                    <label class="col-form-label col-md-2">บัญชีชุดที่</label>
                                    <div class="col col-4">
                                        <input class="form-control " name="accountSet" type="text">
                                    </div>
                                </div>
                            </section> -->

                            <!-- <section>
                                <div class="row form-group">
                                    <label class="col-form-label col-md-2">Active</label>
                                    <div class="col col-4">
                                        
                                            <label>
                                                <mat-checkbox type="checkbox" ></mat-checkbox>
                                            </label>
                                       
                                    </div>
                                    <label class="col-form-label col-md-2">Desktop version</label>
                                    <div class="col col-4">
                                        
                                            <label>
                                                <mat-checkbox type="checkbox" ></mat-checkbox>
                                            </label>
                                        
                                    </div>

                                </div>
                            </section> -->
                        </fieldset>
                        <div class="form-actions">
                            <div class="row justify-content-md-center">
                                <div class="col-md-8 text-center">
                                    <button class="btn btn-primary" type="submit" (click)="onSubmit()">ทำรายการ</button>
                                    <button class="btn btn-secondary" mat-dialog-close type="button">ปิด</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
</mat-dialog-content>