<mat-dialog-content class="mat-typography">
    <div class="modal-content bg-edit">
        <div class="modal-header">
            <h4 class="modal-title" style="color: black;">ข้อมูลธนาคาร</h4>
            <button mat-button mat-dialog-close >
                <span class="material-icons">
                    close
                    </span>
            </button>
        </div>
        <div class="modal-body">
            <section class="widget">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 main-header">
                        <form class="form-horizontal form-label-left ">
                            <fieldset>
                                <section>
                                    <div class="row form-group">
                                        <label class="col-form-label col-md-2">ชื่อธนาคาร</label>
                                        <div class="col col-4">
                                            <select class="form-control" name="type" [(ngModel)]="body.BANK_TITLE">
                                                <option *ngFor="let regisBank of bankAll" value="{{regisBank.BANKCODE}}">{{regisBank.BANKNAME}}</option>
                                            </select>
                                        </div>
                                        <label class="col-form-label col-md-2">ประเภทบัญชี</label>
                                        <div class="col col-4">
                                            <select class="form-control" name="type" [(ngModel)]="body.BANK_TYPE">
                                                <option *ngFor="let regisBank of banktype" value="{{regisBank.value}}">{{regisBank.name}}</option>
                                            </select>
                                        </div>
                                    </div>
    
                                </section>
    
                                <section>
                                    <div class="row form-group">
                                        <label class="col-form-label col-md-2">ชื่อบัญชี</label>
                                        <div class="col col-4">
                                            <input class="form-control" name="accountName" type="text" [(ngModel)]="body.BANK_ACCOUNT_NAME">
    
                                        </div>
                                        <label class="col-form-label col-md-2">หมายเลขบัญชี</label>
                                        <div class="col col-4">
                                            <input class="form-control " name="accountNumber" type="text" [(ngModel)]="body.BANK_ACCOUNT_NUMBER">
                                        </div>
                                        
                                    </div>
                                </section>

                                <section>
                                    <div class="row form-group">
                                        <label class="col-form-label col-md-2">สถานะ</label>
                                        <div class="col col-4">
                                            <select class="form-control" name="type" [(ngModel)]="body.BANK_STATUS">
                                                <option *ngFor="let regisBank of bankstatus" value="{{regisBank.value}}">{{regisBank.name}}</option>
                                            </select>
                                        </div>
                                        <label class="col-form-label col-md-2">Auto/Manual</label>
                                        <div class="col col-4">
                                            <select class="form-control" name="type" [(ngModel)]="body.BANK_GEAR">
                                                <option *ngFor="let regisBank of bankgear" value="{{regisBank.value}}">{{regisBank.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </section>
                                <div *ngIf="body.BANK_TYPE =='withdraw'">
                                <section>
                                    <div class="row form-group">
                                        
                                        <label class="col-form-label col-md-2">Username</label>
                                        <div class="col col-4">
                                            
                                                <input class="form-control " name="accountNumber" type="text" [(ngModel)]="body.BANK_USERNAME">
                                           
                                        </div>
                                        <label class="col-form-label col-md-2">Password</label>
                                        <div class="col col-4">
                                            
                                                <input class="form-control " name="accountNumber" type="text" [(ngModel)]="body.BANK_PASSWORD" >
                                         
                                        </div>
                                    </div>
                                </section>
                            </div>
                            </fieldset>
                            <div class="form-actions">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-8 text-center">
                                        <button class="btn btn-primary" type="submit" (click)="onSubmit()">ทำรายการ</button>
                                        <button class="btn btn-secondary" mat-dialog-close type="button">ปิด</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </mat-dialog-content>