@import "../../../../assets/sass/pages/wizard/wizard-4";


.centerfontdeposit{
    text-align: center;
    font-weight: bold;
    color: white;
}

.bghead{
    background-color: #3F4254;
}

.bgrow{
    background-color: rgba(125, 133, 151, 0.74);
}

.fontcolor{
    color: white;
}