<kt-portlet>
	<kt-portlet-body>

		<!--begin: Wizard -->
		<div #wizard class="wizard wizard-4" id="kt_wizard_v4" data-wizard-state="step-first">
			<!--begin: Form Wizard Nav -->
			<div class="wizard-nav">
				<div class="wizard-steps">
					<a class="wizard-step" href="javascript:;" data-wizard-type="step" data-wizard-state="current">
						<div class="wizard-wrapper">
							<div class="wizard-number">
								1
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Add Account
								</div>
								<div class="wizard-desc">
									Create Account
								</div>
							</div>
						</div>
					</a>
					<a class="wizard-step" href="javascript:;" data-wizard-type="step">
						<div class="wizard-wrapper">
							<div class="wizard-number">
								2							
							</div>
							<div class="wizard-label">
								<div class="wizard-title">
									Completed
								</div>
								<div class="wizard-desc">
									Review and Submit
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!--end: Form Wizard Nav -->

			<div class="card card-custom card-shadowless rounded-top-0">
				<div class="card-body p-0">
					<div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
						<div class="col-xl-12 col-xxl-7">
							<!--begin: Form Wizard Form-->
							<form class="form mt-0 mt-lg-10" id="kt_form">
								<!--begin: Form Wizard Step 1-->
								<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
									<h4 class="mb-10 font-weight-bold text-dark">Enter your Account Details</h4>
									<div class="form-group">
										<label>ชื่อจริง*</label>
										<input type="text" class="form-control" name="uname" [(ngModel)]="regisM.Fname" placeholder="First Name" value="regisM.Fname" required>
										<span class="form-text text-muted">Please enter your username.</span>
									</div>
									<div class="form-group">
										<label>นามสกุล*</label>
										<input type="text" class="form-control" name="uname" [(ngModel)]="regisM.Lname" placeholder="Last Name" value="regisM.Lname" required>
										<span class="form-text text-muted">Please enter your lastname.</span>
									</div>
									<div class="form-group">
										<label>AgenType :</label>
										<select name="AgenType" class="form-control" [(ngModel)]="regisM.AgenType">
											<option *ngFor="let website of websiteAll" value="{{website.ID}}">{{website.WEBSITENAME}}</option>
										</select>
									</div>
									<div class="form-group">
										<label>เลขบัญชีธนาคาร*</label>
										<input type="text" class="form-control" name="AccountNumber" [(ngModel)]="regisM.AccountNumber" placeholder="Account Number" value="regisM.AccountNumber" required>
										<span class="form-text text-muted">Please enter your AccountNumber.</span>
									</div>
									<div class="form-group">
										<label>ธนาคาร :</label>
										<select name="Bank" class="form-control" [(ngModel)]="regisM.Bank">
											<option *ngFor="let bank of bankAll" value="{{bank.ID}}">{{bank.BANKNAME}}</option>
										</select>

									</div>
									<div class="form-group">
											<label>Phone</label>
											<input type="text" maxlength="10" class="form-control" name="phone" [(ngModel)]="regisM.Phone"  placeholder="Phone" value="regisM.Phone"  >
											<span class="form-text text-muted">Please enter your phone number.</span>
									</div>
									<div class="form-group">
										<label>รู้จักผ่าน :</label>
										<select name="Recommend" class="form-control" [(ngModel)]="regisM.Recommend">
											<option *ngFor="let channel of channelAll" value="{{channel.ID}}">{{channel.CHANELNAME}}</option>
										</select>
									</div>
									<div class="form-group">
										<label>เพิ่มเติม</label>
										<input type="text" class="form-control" name="Notes" [(ngModel)]="regisM.Notes"  placeholder="Notes" value="regisM.Notes"  >	
									</div>
								</div>
								<!--end: Form Wizard Step 1-->
								<!--begin: Form Wizard Step 2-->
								<div class="pb-5" data-wizard-type="step-content">
									<div class="mb-10 font-weight-bold text-dark">Review your Details and Submit</div>
									<div class="border-bottom mb-5 pb-5">
										<div class="font-weight-bolder mb-3">
											Your Account Details:
										</div>
										<div class="line-height-xl">
											ชื่อจริง: {{regisM.Fname}}
											<br /> นามสกุล: {{regisM.Lname}}
											<br /> AgenType: {{regisM.AgenType}}
											<br /> เลขบัญชีธนาคาร: {{regisM.AccountNumber}}
											<br /> ธนาคาร: {{regisM.Bank}}
											<br /> เบอร์โทรศัพท์: {{regisM.Phone}}
											<br /> รู้จักผ่าน: {{regisM.Recommend}}
											<br /> เพิ่มเติม: {{regisM.Notes}}
										</div>
									</div>
								</div>
								<!--end: Form Wizard Step 2-->

								<!--begin: Form Actions -->
								<div class="d-flex justify-content-between border-top pt-10">
									<div class="mr-2">
										<div class="btn btn-light-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-prev">
											Previous
										</div>
									</div>
									<div>
										<div (click)="onSubmit()" class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit">
											Submit
										</div>
										<div class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next">
											Next Step
										</div>
									</div>
								</div>
								<!--end: Form Actions -->
							</form>
							<!--end: Form Wizard Form-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end: Wizard -->

	</kt-portlet-body>
</kt-portlet>
