.centerfont{
    text-align: center;
    font-weight: bold;
    color: white;
}

.fontcolortrxlm{
    color: black;
}

.fontcolortrxlnhead{
    color: black;
}

.backgroundtop{
    // background-color: rgba(133, 254, 141, 1);
    border-radius: 10px;
    border:solid 2px;
}

.BGhead{
    background-color: #3F4254;
}

.BGrow{
    background-color: rgba(125, 133, 151, 0.74);
}

.Fontcolortable{
    color: white;
}