
<kt-portlet>
        <h1 mat-dialog-title class="headinfo" style="margin-top: 20px; margin-left: 10px;">ข้อมูลสมาชิก</h1>
            <div class="row justify-content-center px-12">
                <legend class="Maininfo">Main Info</legend>
                <div class="col-xl-12">
                        <!--Form 1-->
                            <div class="form-group row justify-content-center">
                                <label class="col-form-label col-2">Username</label>
                                <div class="col-4">
                                <input type="text" class="form-control" name="MEMBER_USERNAME"  placeholder="First Name" value="EditTrxlistData.MEMBER_USERNAME" [(ngModel)]="EditTrxlistData.MEMBER_USERNAME" disabled>
                                </div>
                            </div>
                            <!-- <div class="form-group row justify-content-center">
                                <label class="col-form-label col-2">Password</label>
                                <div class="col-4">
                                <input type="number" class="form-control" name="fpassword"  placeholder="Password" value="EditTrxlistData.fpassword" disabled>
                            </div>
                            </div> -->
                    <!--end: Form 1-->
                </div>
                <legend class="Maininfo">Personal Info</legend>
                <div class="col-xl-6">
                    <div class="form-group row">
                        <label class="col-form-label col-4">ชื่อจริง*</label>
                        <div class="col-8">
                        <input type="text" class="form-control" name="MEMBERFIRSTNAME"  placeholder="First Name" value="EditTrxlistData.MEMBERFIRSTNAME" [(ngModel)]="EditTrxlistData.MEMBERFIRSTNAME" required>
                    </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4">เบอร์โทรศัพท์</label>
                        <div class="col-8">
                        <input type="text" maxlength="10" class="form-control" name="PHONE"   placeholder="phone" value="EditTrxlistData.PHONE" [(ngModel)]="EditTrxlistData.PHONE" >
                </div>
                </div>
                    <div class="form-group row">
                            <label class="col-form-label col-4">ธนาคาร</label>
                            <div class="col-8">
                            <select name="role"  class="form-control" [(ngModel)]="EditTrxlistData.ID">
                                <option *ngFor="let bank of BankAll" value="{{bank.ID}}">{{bank.BANKNAME}}</option>
                            </select>
                    </div>
                    </div>
                </div>
                <div class=col-6>
                    <div class="form-group row">
                        <label class="col-form-label col-4">นามสกุล*</label>
                        <div class="col-8">
                        <input type="text" class="form-control" name="MEMBERLASTNAME"  placeholder="Last Name" value="EditTrxlistData.MEMBERLASTNAME" [(ngModel)]="EditTrxlistData.MEMBERLASTNAME">
                    </div>
                    </div>
                    <div class="form-group row">
                            <label class="col-form-label col-4">เลขบัญชีธนามคาร*</label>
                        <div class="col-8">
                            <input type="text" class="form-control" name="BANK_ACCOUNT_NUMBER"  placeholder="Last Name" value="EditTrxlistData.BANK_ACCOUNT_NUMBER" [(ngModel)]="EditTrxlistData.BANK_ACCOUNT_NUMBER">
                        </div>
                    </div>
            </div>
        </div>
        <div class="form-actions">
            <div class="row justify-content-md-center">
                <div class="col-md-8 text-center">
                    <button mat-button class="btn btn-primary" type="submit" (click)="onSubmit()">ทำรายการ</button>
                    <button mat-button class="btn btn-secondary" mat-dialog-close type="button">ปิด</button>
                </div>
            </div>
        </div>
</kt-portlet>